@{
    ViewBag.Title = "Home Page";
}
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label for="assistantDropDown" style="font-size:18px">Choose Assistant: </label>
            <input id="assistantDropDown" />
            <input class="btn btn-primary" type="submit" value="Authorization" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6 k-content">
            <label for="files" style="font-size:18px">Upload records: </label>
            <input name="files" id="files" type="file" />
        </div>
     </div>
</div>
<script>

    var selectedAssistant, selectedAssistantId;

    $(document).ready(function () {

        selectedAssistant = $("#assistantDropDown").kendoDropDownList({
            dataTextField: "AssistantName",
            dataValueField: "AssistantId",
            dataSource: {
                transport: {
                    serverFiltering: true,
                    read: {
                        type: "GET",
                        url: '@Url.Action("GetAssistant", "Home")',
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        complete: function () {
                            var len = selectedAssistant.dataSource.data().length;
                            if (len > 0) {
                                selectedAssistant.select(0);
                                selectedAssistantId = selectedAssistant.value();
                                //loadParent();
                            } else {
                                kiwi.alert("No assistant is available.")
                            }

                        }
                    },
                }
            },

            change: function () {
                selectedAssistant = selectedAssistant.value();
                //loadParent();
            }
        }).data("kendoDropDownList");

        $("#files").kendoUpload({
            async: {
                saveUrl: "save",
                removeUrl: "remove",
                autoUpload: true
            }
        });
    });

</script>
